fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9   # required for File / Form uploads
pandas>=2.2.0
# scikit-learn>=1.4.0       # only needed for generate_sample_model.py
numpy>=1.26.0
pydantic>=2.7.0
